<%= render "shared/header" %> 
<div class="calendar-content">
  <%= month_calendar events: @spending do |date, spending| %>
    <%= date.day %>

    <% spending.each do |spending| %>
      <br><%= link_to spending.category, spending_path(spending.id), class:"calendar_link" %> -<%= link_to spending.price, spending_path(spending.id), class:"calendar_link" %>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>