<header class="header_a">
  <div class="container">
    <!— ! ロゴエリア —————————— —>
    <div class="area_logo_header">
      <%= link_to 'こつこつ家計簿', root_path, class: "title-name" %>
      <%= link_to root_path, target: "_blank" do %>
        <%= image_tag 'etc.png' , size: '70x70', class:"logo" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to '支出', new_spending_path, class: "post" %>
        <%= link_to '収入', new_income_path, class: "post" %>
      <% end %>
    </div>
    <!— ! ナビゲーション —————————— —>
    <nav class="area_nav_header">
      <ul class="list_nav_header">
      <% if user_signed_in? %>
        <li class="user-name">
          <%= link_to "#{current_user.name}", "#", class: "link_under_line" %>
        </li>
        <li class="user-name">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "link_under_line" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'ログイン', new_user_session_path, class: "link_under_line" %>
        </li>
        <li>
          <%= link_to '新規登録', new_user_registration_path, class: "link_under_line" %>
        </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>