<%= render "shared/header" %>
<div class="show-content">
  <div class="show-category">
    <h1 class="show-category-name"><%= @income.category %></h1>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-column">日付</th>
        <td class="detail-value"><%= @income.date %></td>
      </tr>
      <tr>
        <th class="detail-column">金額</th>
        <td class="detail-value"><%= @income.price %></td>
      </tr>
      <tr>
        <th class="detail-column">メモ</th>
        <td class="detail-value"><%= @income.memo %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= render "shared/footer3" %>